@charset "UTF-8";

body {
	font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
	height: 8.5in;
}

.header {
	position: fixed;
	width: 90%;
	height: 15%;
	top: 0;
	right: 0;
	bottom: auto;
	left: 5%;
	background-color: #E8E5EB;
}

.sidebar {
	position: fixed;
	width: 15%;
	height: auto;
	top: 15%;
	right: auto;
	bottom: 100px;
	left: 5%;
	background-color: #DBF7EC;
}

.main {
	
	text-align: center;
	position: fixed;
	width: 75%;
	height: auto;
	top: 15%;
	right: 0;
	bottom: 100px;
	left: 20%;
	background-color: #EDFBF5;
}

.footer {
	position: fixed;
	width: 90%;
	height: 100px;
	top: auto;
	right: 0;
	bottom: 0;
	left: 5%;
	background-color: #1D6246;
}