@charset "UTF-8";

body {
	font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif !important;
	background-color: #F1FDF1;
}

td {
	align: center;
	valign: bottom;
	text-align: center;
	margin: auto;
	text-align: center;
}

.head {
	background-color: #D6F9D6;
}
.content{
	background-color: #F6FDF5;
}
.end{
	background-color: #718870;
}

.functiontitle {
	font-weight: bold;
	color: Olive;
	font-size: 18px;
	line-height: 30px;
	padding: 5px;
	background-color: Gold;
}

.title {
	font-weight: bold;
	color: red;
	margin: auto;
	font-size: 24px;
	text-align: center;
	padding: 10px;
	background-color: #D6F9D6;
}